<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>47</BK2>
  <Col3>07</Col3>
  <Reversed>True</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>126</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>124</data>
      <data>102</data>
      <data>102</data>
      <data>124</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>60</data>
      <data>62</data>
      <data>98</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>120</data>
      <data>108</data>
      <data>102</data>
      <data>102</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>126</data>
      <data>102</data>
      <data>102</data>
      <data>96</data>
      <data>98</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>128</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>81</data>
    </chardata>
  </character>
  <character>
    <charcode>129</charcode>
    <chardata>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>102</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>130</charcode>
    <chardata>
      <data>126</data>
      <data>102</data>
      <data>98</data>
      <data>98</data>
      <data>126</data>
      <data>60</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>131</charcode>
    <chardata>
      <data>96</data>
      <data>100</data>
      <data>98</data>
      <data>110</data>
      <data>60</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>132</charcode>
    <chardata>
      <data>98</data>
      <data>98</data>
      <data>102</data>
      <data>108</data>
      <data>124</data>
      <data>112</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>133</charcode>
    <chardata>
      <data>126</data>
      <data>98</data>
      <data>96</data>
      <data>96</data>
      <data>102</data>
      <data>126</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>134</charcode>
    <chardata>
      <data>0</data>
      <data>15</data>
      <data>16</data>
      <data>32</data>
      <data>64</data>
      <data>64</data>
      <data>67</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>135</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>96</data>
      <data>56</data>
      <data>7</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>136</charcode>
    <chardata>
      <data>0</data>
      <data>224</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>96</data>
      <data>128</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>137</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>2</data>
      <data>2</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>138</charcode>
    <chardata>
      <data>7</data>
      <data>57</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
      <data>65</data>
    </chardata>
  </character>
  <character>
    <charcode>139</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>128</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>140</charcode>
    <chardata>
      <data>240</data>
      <data>16</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>141</charcode>
    <chardata>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>40</data>
      <data>72</data>
      <data>72</data>
      <data>48</data>
    </chardata>
  </character>
</charset>
